.heading {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid black;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	background-color: azure;
	padding: 50px 0;
}
